<div class="cp-card">  
  {% if title != blank %}
    <h3 class="cp-card__title">
      {% if url != blank %}
        <a href="{{ url }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
  {% endif %}

  {% if meta != blank %}
    <p class="cp-card__meta">{{ meta }}</p>
  {% endif %}

  {% if image != blank %}
    <img 
      class="cp-card__image"
      src="{{ image | image_url: width: image.width }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      alt="{{ image.alt }}"
      loading="lazy"
    >
  {% endif %}

  {% if summary != blank %}
    <div class="cp-card__summary rte">{{ summary }}</div>
  {% endif %}

  {% if url != blank %}
    <p class="cp-card__action"><a href="{{ url }}" class="btn btn--full">{{ 'general.view' | t }}</a></p>
  {% endif %}

</div>