<div class="layout">  

  {% form 'reset_customer_password', novalidate: '' %}

    <h1>{{ 'customer.reset.title' | t }}</h1>

    {% render 'cp-message-errors', errors: form.errors %}

    <div class="field">
      <label for="ResetPassword">{{ 'customer.activate.password_label' | t }}</label>
      <input type="password" name="customer[password]" id="ResetPassword" minlength="5" required>
    </div>

    <div class="field">
      <label for="PasswordConfirmation">{{ 'customer.activate.password_confirm_label' | t }}</label>
      <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation" minlength="5" required>
    </div>

    <button class="btn">{{ 'customer.reset.submit' | t }}</button>
    
    <p>
      <a href="/">{{ 'customer.reset.cancel' | t }}</a>
    </p>

  {% endform %}

</div>

