<div class="cp-footer">
  <div class="layout">
    
    <div class="cp-footer__main">

      <p class="cp-footer__legal">© {{ 'now' | date: '%Y' }} {{ 'footer.copyright' | t: shop_name: shop.name }}</p>

      <nav class="cp-footer__nav">
        <ul>
          {% for link in linklists[section.settings.menu].links %}
            <li>
              <a href="{{ link.url }}" class="{% if link.active or link.child_active %}is-active{% endif %}">
                {{ link.title }}
              </a>              
            </li>
          {% endfor %}
          {% if section.settings.show_social %}
            {% for link in shop.brand.metafields.social_links %}              
              <li>
                <a href="{{ link.last }}">
                  {% comment %} {%- capture filename -%}icon-social-{{ link.first }}.svg{%- endcapture -%}
                  <img src="{{ filename | asset_url }}" alt="{{ link.first | capitalise }}" width="32" height="32" loading="lazy"> {% endcomment %}
                  {% render 'svg', id: link.first %}
                </a>
              </li>              
            {% endfor %}
          {% endif %}
        </ul>
      </nav>      

    </div>

    <div class="cp-footer__secondary">

      {% if section.settings.show_currency and localization.available_countries.size > 1 %}
        {% form 'localization' %}
          {% comment %}<p>{{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})</p>{% endcomment %}

          <select name="country_code" onchange="this.form.submit()">
            {% for country in localization.available_countries %}
              <option value="{{ country.iso_code }}" {% if country.iso_code == localization.country.iso_code %}selected{% endif %}>
                {{ country.name }} ({{ country.currency.iso_code }}
                {{ country.currency.symbol }})
              </option>
            {% endfor %}          
          </select>

        {% endform %}
      {% endif %}

      {% if section.settings.show_language and localization.available_languages.size > 0 %}
        {% form 'localization' %}
          {% comment %} <p>{{ localization.language.name }}</p> {% endcomment %}

          <select name="locale_code" onchange="this.form.submit()">
            {% for language in localization.available_languages %}
              <option value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}selected{% endif %}>
                {{ language.endonym_name | capitalize }}
              </option>
            {% endfor %}
          </select>
        
        {% endform %}
      {% endif %}

    </div>

  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "id": "menu",
      "type": "link_list",
      "label": "Menu"
    },
    {
      "id": "show_social",
      "type": "checkbox",
      "label": "Show social",
      "default": true
    },
    {
      "id": "show_currency",
      "type": "checkbox",
      "label": "Show currency",
      "default": true
    },
    {
      "id": "show_language",
      "type": "checkbox",
      "label": "Show language",
      "default": true
    }
  ]
}
{% endschema %}
